[submodule "pack/bundle/start/tagbar"]
	path = pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/bundle/start/targets.vim"]
	path = pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-qlist"]
	path = pack/bundle/start/vim-qlist
	url = https://github.com/romainl/vim-qlist.git
[submodule "pack/bundle/start/vim-sneak"]
	path = pack/bundle/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-rails"]
	path = pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/bundle/start/vim-easy-align"]
	path = pack/bundle/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/bundle/start/vim-scriptease"]
	path = pack/bundle/start/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "pack/bundle/start/linediff.vim"]
	path = pack/bundle/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "pack/bundle/start/vim-markdown"]
	path = pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
