[submodule "pack/bundle/start/tagbar"]
	path = bundle/vim/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/bundle/start/targets.vim"]
	path = bundle/vim/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "pack/bundle/start/undotree"]
	path = bundle/vim/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-qlist"]
	path = bundle/vim/vim-qlist
	url = https://github.com/romainl/vim-qlist.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = bundle/vim/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-rails"]
	path = bundle/vim/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/bundle/start/vim-easy-align"]
	path = bundle/vim/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/bundle/start/vim-scriptease"]
	path = bundle/vim/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "pack/bundle/start/linediff.vim"]
	path = bundle/vim/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "pack/bundle/start/fzf"]
	path = bundle/vim/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bundle/start/fzf.vim"]
	path = bundle/vim/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/bundle/start/vim-gutentags"]
	path = bundle/vim8/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/nvim/vim-qf"]
	path = bundle/vim8/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "bundle/nvim/nvim-lspconfig"]
	path = bundle/nvim/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "bundle/nvim/nvim-cmp"]
	path = bundle/nvim/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "bundle/nvim/cmp-buffer"]
	path = bundle/nvim/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "bundle/nvim/vim-vsnip"]
	path = bundle/nvim/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "bundle/nvim/cmp-nvim-lsp"]
	path = bundle/nvim/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "bundle/nvim/cmp-path"]
	path = bundle/nvim/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "bundle/nvim/friendly-snippets"]
	path = bundle/nvim/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "bundle/nvim/cmp-omni"]
	path = bundle/nvim/cmp-omni
	url = https://github.com/hrsh7th/cmp-omni.git
[submodule "bundle/nvim/cmp-nvim-tags"]
	path = bundle/nvim/cmp-nvim-tags
	url = https://github.com/quangnguyen30192/cmp-nvim-tags.git
[submodule "bundle/nvim/lsp_signature.nvim"]
	path = bundle/nvim/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim.git
	ignore = untracked
[submodule "bundle/vim8/vim-signify"]
	path = bundle/vim8/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim8/vim-sleuth"]
	path = bundle/vim8/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/nvim/cmp-vsnip"]
	path = bundle/nvim/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "bundle/vim/base16-vim"]
	path = bundle/vim/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/nvim/nvim-bqf"]
	path = bundle/nvim/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf.git
[submodule "bundle/nvim/sonokai"]
	path = bundle/nvim/sonokai
	url = https://github.com/sainnhe/sonokai.git
[submodule "bundle/nvim/edge"]
	path = bundle/nvim/edge
	url = https://github.com/sainnhe/edge.git
[submodule "bundle/nvim/gruvbox-material"]
	path = bundle/nvim/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
